<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gestion des utilisateurs</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
	<style >
	

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #908;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,40% {
    transform: rotateY(360deg) 
  }
}
	</style>
</head>
<div class="container">
<body style="background-color: rgb(244, 222, 254)">
<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">

			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#contenuNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="contenuNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a th:href="@{/auteur/menu}" class="nav-link">Menu</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/auteur/gerer}" class="nav-link">Auteur</a>
					</li>
                    <li class="nav-item">
                        <a th:href="@{/livre/affecter}" class="nav-link">Affecter Livre</a>
                    </li>
					<li class="nav-item">
						<a th:href="@{/livre/gerer}" class="nav-link">Livre</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/personne/admin}" class="nav-link">Personne</a>
					</li>
				</ul>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		</div>
	</nav><br>
   <span> <center>
   <h1>
 <div class="waviy">
   <span style="--i:1">A</span>
   <span style="--i:2">T</span>
   <span style="--i:3">T</span>
   <span style="--i:4">E</span>
   <span style="--i:5">N</span>
   <span style="--i:6">S</span>
   <span style="--i:7">I</span>
   <span style="--i:8">O</span>
   <span style="--i:9">N</span>
   <span style="--i:10">!</span>
   
   
  </div>
</h1>
    <h2 th:text="${message}"></h2 ></center>
	<hr>	</span>
	

<div class="col order-last">
				<table class="table table-hover">
					<thead>
						<tr class="table-light">
							<th class="table-light">CIN</th>
							<th class="table-light">Nom et Prénom</th>
							<th class="table-light">Date de Naissance</th>
							<th class="table-light">Actived</th>
							<th class="table-light">Roles</th>
							
							
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="e:${personnes}">
					<td  class="table-light" th:text="${e.cin}"></td>
					<td  class="table-light" th:text="${e.nomPrenom}"></td>
					<td  class="table-light" th:text="${e.getDateNais()}"></td>
					<td  class="table-light" th:text="${e.actived}"></td>
					<td  class="table-light" th:text="${e.getLesRoles()}"></td>
				</tr>

					</tbody>
				</table>
			</div>
</body>
</div>
</html>